.details-container {
    background-color: white;
    padding: 1.5rem; 
    border-radius: 35px;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1); 
    border: 1px solid #f1f5f9; 
    transition: all 0.3s;
}

.details-header {
    display: flex;
    align-items: center;
    gap: 1rem; 
    margin-bottom: 1.5rem; 
}

.details-icon-container {
    font-size: 2.25rem; 
    background-color: #f8fafc; 
    width: 4rem; 
    height: 4rem; 
    border-radius: 1.5rem; 
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: inset 0 2px 4px 0 rgb(0 0 0 / 0.05); 
}

.details-title h3 {
    font-weight: 900; 
    font-size: 1.25rem; 
    color: #334155; 
    margin: 0;
}

.details-title p {
    font-size: 0.875rem; 
    color: #94a3b8; 
    margin: 0;
}

.details-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem; 
}

.details-box {
    padding: 1rem; 
    border-radius: 1.5rem; 
    text-align: center;
}

.details-box.primary {
    background-color: rgba(6, 182, 212, 0.1); 
    border: 1px solid rgba(6, 182, 212, 0.05); 
}

.details-box.secondary {
    background-color: #f8fafc; 
    border: 1px solid #f1f5f9; 
}

.details-box .box-label {
    display: block;
    font-size: 0.75rem; 
    font-weight: 700; 
    margin-bottom: 0.25rem; 
    text-transform: uppercase;
}

.details-box.primary .box-label {
    color: #0891B2;
}

.details-box.secondary .box-label {
    color: #94a3b8; 
}

.details-box .box-value {
    font-size: 1.5rem; 
    font-weight: 900; 
}

.details-box.primary .box-value {
    color: #0891B2;
}

.details-box.secondary .box-value {
    color: #475569; 
}

.box-value small {
    font-size: 0.875rem; 
}