.main-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100vh;
  min-height: fit-content;
  overflow: hidden;
}

.left-panel {
  padding: 16px;
  overflow-y: auto;
  max-height: 100%;
}

.right-panel {
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  overflow-y: auto;
  max-height: 100%;
}